<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhj.confirmIncome.mapper.CashIncomeInfoMapper">
    <select id="getMonthTime" resultType="java.lang.String">
        select month_time
        from cash_income_info
        group by month_time
        order by month_time asc;
    </select>
</mapper>
