<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhj.confirmIncome.mapper.ZdIncomeActualSaveMapper">

    <select id="getSaveMonth" resultType="string">
        SELECT
            actual_date
        FROM
            zd_income_actual_save
        WHERE
            actual_amount != 0
	    AND
	        period_month != 0
        GROUP BY
            actual_date
    </select>
</mapper>
